p {
    margin: 5px;
    font-size: 15px;
}

h3 {
    margin-bottom: 10px;
}

h4 {
    margin: 0;
    margin-bottom: 5px;
}

.toolbar {
    width: 40vw;
    position: absolute;
    box-sizing: border-box;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    right: 2em;
    bottom: 5em;
    padding: 0.5rem;
}

.filter-radio {
    margin: 0;
    background-color: rgba(240, 248, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.radio-group {
    display: flex;
    align-items: center;

}

#distribution-chart {
    background-color: rgba(240, 248, 255, 0.5);
    width: 100%;
    height: 220px;
    border-radius: 10px;
}

#map {
    width: 100%;
    height: 100%;
    
}

